.nota{
    justify-content: right;
    width: 100px;
    
}

.churros{
    width: 900px;
}

.cabecalho{
    margin: 40px 0 10px 40px;
    display: flex;
    width: 900px;
}

h2{
    color: #b97f00;
}

.imagem{
    margin: 10px 0 10px 40px;
}
.sub_titulo_imagem{
    color: #b97f00;
    margin: 10px 0 10px 40px;
}

p{
    margin-left: 580px ;
    text-align: right ;
    font-size: small;
}

.tempo{
    cursor: pointer;
    width: 40px;
    margin-right: 180px;
}

.rendimento{
    cursor: pointer;
    width: 40px;
    margin-right: 195px;
}

.favorito{
    cursor: pointer;
    width: 40px;
    margin-right: 195px;
}
.comentario{
    cursor: pointer;
    width: 40px;
}

.info{
    margin-left: 40px;
    width: 900px;
    background-color: lightgray;
}

.info_receita{
    display: flex;
    padding-top: 10px
}

.descricao_icone{
    margin: 0 0 10px 0;
    display: flex;
    margin-left: 20px;
}

.descricao{
    color: #b97f00;
    cursor: pointer;
    margin-right: 140px;
}

.conteudo{
    font-weight: bold;
    color: #ffb000;
    cursor: pointer;
    margin-right: 150px;
}

.conteudo_tempo{
    font-weight: bold;
    color: #ffb000;
    cursor: pointer;
    margin-right: 130px;
}

.conteudo_comentario{
    font-weight: bold;
    color: #ffb000;
    cursor: pointer;
    margin-left: 60px;
}

.ingredientes{
    width: 900px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.ingredientes_titulo{
    padding-left: 20px;
    color: #b97f00;
}

.avental{
    width: 50px;
}

.titulo{
    margin-left: 40px;
    width: 900px;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: lightgray;
}

.itens{
    margin-left: 40px; ;
}

.comprar{
    width: 15px;
    padding-right: 8px;
}

button {
    margin: 30px 0 0 70px;
    background:#ffb000 ;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 10px 5px 10px;
    transition: all .1s ease-in-out;
}

button:hover {
    background: #b97f00;
    cursor: pointer;
}

.menu{
    width: 900px;
}
    
.menu__item {
    list-style: none;
}

.menu__link {
    color: #b97f00;
    margin-right: 1.25rem;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__lista {
    display: flex;
}

.botao{
    margin-bottom: 50px;
}

main{
    display: grid;
    justify-content: center;
}
    
 header {
    padding: 5px 0 5px 0;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: lightgray;
} 

body{
    margin: 0;
}
