.nota{
    justify-content: right;
    width: 70%;
    
}

.nome_receita{
    display: flex;
    width: 500px;

}

tr,th,td{
    border: 1px solid black;
    text-align: left;
}

table {
    width: 50%;
}

p{
    width: 90%;
    text-align: right !important;
    font-size: small;
}

.tempo{
    width: 3%;
    padding-right: 5px;
}

.rendimento{
    width: 5%;
    padding-right: 5px;
}

.favorito{
    width: 5%;
    padding-right: 5px;
}
.comentario{
    width: 5%;
}

figure{
    display: flex ;
}
